footer {
  padding: 4rem 0;
  margin: 0 var(--app-content-margin-x);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--app-grey-color);
  font-size: var(--app-smaller-text-size);

  div {
    display: flex;
    flex-direction: column;
  }

  span {
    text-align: center;

    @include from($md) {
      text-align: unset;
    }
  }

  @include from($md) {
    flex-direction: row;
    justify-content: space-between;
  }
}