$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

@mixin from($breakpoint) {
  @media (min-width: $breakpoint) {
    @content();
  }
}

@mixin up-to($breakpoint) {
  @media (max-width: $breakpoint - 1px) {
    @content();
  }
}
