@font-face {
  font-family: 'Garamond Pro';
  font-style: normal;
  src: url('/fonts/adobe_garamond_pro/AGaramondPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Garamond Pro';
  font-style: italic;
  src: url('/fonts/adobe_garamond_pro/AGaramondPro-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/satoshi/Satoshi-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Theater';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Theater-Bold.woff2') format('woff2');
}