<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://backtotilicho.com/" />
<meta property="og:site_name" content="Back to Tilicho">
<meta property="og:title" content="Back to Tilicho" />
<meta property="og:description" content="Back to Tilicho is a poignant and joyous documentary film that explores the impact of trauma on identity, the power of nostalgia, and the bittersweet passage from youthful innocence into adulthood. " />
<meta property="og:image" itemprop="image" content="https://backtotilicho.com/images/meta_og.png" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta property="og:image" itemprop="image" content="https://backtotilicho.com/images/meta_og_square.png" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="256">
<meta property="og:image:height" content="256">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://backtotilicho.com/" />
<meta property="twitter:title" content="Back to Tilicho" />
<meta property="twitter:description" content="Back to Tilicho is a poignant and joyous documentary film that explores the impact of trauma on identity, the power of nostalgia, and the bittersweet passage from youthful innocence into adulthood. " />
<meta property="twitter:image" content="https://backtotilicho.com/images/meta_og.png" />